@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-left">
        <h1>Welcome</h1>
        <p>The Northwind Razor Pages web application demonstrates how to create web apps using Razor Pages, EF Core, Visual Studio, and the NorthWind database.</p>

        <h2>Browse</h2>
        <ul class="list-group">
            <li class="list-group-item"><i class="fas fa-users"></i>&nbsp;&nbsp;<a href="/Customers/">Customers</a></li>
            <li class="list-group-item"><i class="fas fa-user-clock"></i></i>&nbsp;&nbsp;<a href="/Employees/">Employees</a></li>
            <li class="list-group-item"><i class="fas fa-boxes"></i>&nbsp;&nbsp;<a href="/Suppliers/">Suppliers</a></li>
            <li class="list-group-item"><i class="fas fa-table"></i>&nbsp;&nbsp;<a href="/Reports/">Reports</a></li>
        </ul>
    </div>