@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-left">
        <h1>Northwind Razor Pages</h1>
        <p>The Northwind Razor Pages web application demonstrates how to create Razor Pages web apps using EF Core and Visual Studio.  </p>

        <h2>Browse</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="Supplier/Index/">Suppliers&nbsp;&nbsp;<i class="fas fa-shipping-fast"></i></a></li>
        </ul>
    </div>